<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated behaviourmodel -->
      <package
            uri="http://www.example.org/behaviourmodel"
            class="mdpa.dfd.behaviour.behaviourmodel.BehaviourModelPackage"
            genModel="model/behaviourmodel.genmodel"/>
   </extension>

</plugin>
