# General
.DS_Store
.polyglot.build.properties
*.log
*.META-INF_MANIFEST.MF
*.polyglot.*
*.rej
*.takari_issue_192
*.tycho
*~
heapdump.*
Snap.*

# MAC
__MACOSX/

# Package Files
*.ear
*.nar
*.rar
*.tar.gz
*.war
*.zip

# Eclipse
.loadpath
.metadata
.recommenders
.worksheet
*.bak
*.class
*.swp
*.tmp
*~.nib
bin/
javacore.*
local.properties
# src-gen/
tmp/
.eclipse-pmd
.checkstyle
org.eclipse.m2e.core.prefs

# Maven
.mvn/timing.properties
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
releng/*/workspace/*
target/

# Xtend
*._trace
*.xtendbin
xtend-gen/

# JDT
*.jdt

# IntelliJ
.idea/
/out
*.iml