<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataflowdiagrammodel -->
      <package
            uri="http://www.example.org/dataflowdiagrammodel"
            class="mdpa.dfd.diagram.dataflowdiagrammodel.DataFlowDiagramModelPackage"
            genModel="model/DataFlowDiagramModel.genmodel"/>
   </extension>

</plugin>
