<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dataflowdiagram -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.dataflowanalysis.dfd.dataflowdiagram.presentation.dataflowdiagramModelWizardID"
            name="%_UI_dataflowdiagramModelWizard_label"
            class="org.dataflowanalysis.dfd.dataflowdiagram.presentation.dataflowdiagramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/dataflowdiagramModelFile.gif">
         <description>%_UI_dataflowdiagramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dataflowdiagram -->
      <editor
            id="org.dataflowanalysis.dfd.dataflowdiagram.presentation.dataflowdiagramEditorID"
            name="%_UI_dataflowdiagramEditor_label"
            icon="icons/full/obj16/dataflowdiagramModelFile.gif"
            extensions="dataflowdiagram"
            class="org.dataflowanalysis.dfd.dataflowdiagram.presentation.dataflowdiagramEditor"
            contributorClass="org.dataflowanalysis.dfd.dataflowdiagram.presentation.dataflowdiagramActionBarContributor">
      </editor>
   </extension>

</plugin>
