<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
            <run
               class="org.palladiosimulator.dataflow.confidentiality.analysis.scalibility.ScalibiliyMainOld">
         </run>
      </application>
   </extension>
</plugin>
