<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Target Platform" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<unit id="org.palladiosimulator.commons.stoex.sdk.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.pcm.edit" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.library.emfeditutils" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-emfeditutils/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.library.standalone.initialization.log4j" version="0.0.0"/>
			<unit id="tools.mdsd.library.standalone.initialization.emfprofiles" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-standaloneinitialization/releases/0.2.0/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.license.epl2.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/build-licensefeature/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.modelversioning.emfprofile.registry" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.modelingfoundations.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/metamodel-modeling-foundations/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.dataflowanalysis.pcm.extension.dictionary.characterized" version="0.0.0"/>
			<unit id="org.dataflowanalysis.pcm.extension.dddsl" version="0.0.0"/>
			<unit id="org.dataflowanalysis.pcm.extension.model" version="0.0.0"/>
			<unit id="org.dataflowanalysis.pcm.extension.nodecharacteristics" version="0.0.0"/>
			<repository location="https://dataflowanalysis.github.io/updatesite/nightly/pcm-dataflowanalysis-extension/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.dataflowanalysis.analysis" version="0.0.0"/>
			<unit id="org.dataflowanalysis.analysis.pcm" version="0.0.0"/>
			<unit id="org.dataflowanalysis.analysis.dfd" version="0.0.0"/>
			<repository location="https://dataflowanalysis.github.io/updatesite/nightly/dataflowanalysis/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.dataflowanalysis.dfd.datadictionary.feature.feature.group" version="0.0.0"/>
			<unit id="org.dataflowanalysis.dfd.dataflowdiagram.feature.feature.group" version="0.0.0"/>
			<repository location="https://dataflowanalysis.github.io/updatesite/nightly/dfd-metamodel/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.dataflowanalysis.examplemodels" version="0.0.0"/>
			<repository location="https://dataflowanalysis.github.io/updatesite/nightly/examplemodels/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.palladiosimulator.mdsdprofiles.api" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.hamcrest.library" version="0.0.0"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2023-03/"/>
		</location>
		
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <repository location="https://download.eclipse.org/releases/2023-03/202303151000/"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.diagram.sirius.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.design.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.parsley.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.parsley.sdk.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.oomph.setup.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tips.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <repository location="https://download.eclipse.org/tools/orbit/downloads/2023-03/"/>
      <unit id="com.sun.xml.bind" version="0.0.0"/>
      <unit id="org.junit.jupiter.api" version="0.0.0"/>
      <unit id="org.junit.jupiter.params" version="0.0.0"/>
      <unit id="org.junit.jupiter.engine" version="0.0.0"/>
      <unit id="org.junit.jupiter.migrationsupport" version="0.0.0"/>
      <unit id="org.junit.platform.commons" version="0.0.0"/>
      <unit id="org.junit.platform.engine" version="0.0.0"/>
      <unit id="org.junit.platform.launcher" version="0.0.0"/>
      <unit id="org.junit.platform.runner" version="0.0.0"/>
      <unit id="org.junit.platform.suite.api" version="0.0.0"/>
      <unit id="org.junit.platform.suite.commons" version="0.0.0"/>
      <unit id="org.junit.platform.suite.engine" version="0.0.0"/>
      <unit id="org.junit.vintage.engine" version="0.0.0"/>
      <unit id="org.apiguardian" version="0.0.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="0.0.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="0.0.0"/>
    </location>
	
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <repository location="https://updatesite.mdsd.tools/ecore-workflow/releases/latest/"/>
      <unit id="tools.mdsd.ecoreworkflow.mwe2lib.feature.feature.group" version="0.0.0"/>
    </location>  
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.bpel.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2021-12/202112081000"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.apache.commons.math" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/2021-12/"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.palladiosimulator.branding.feature.feature.group" version="2.0.0"/>
<unit id="org.palladiosimulator.license.feature.group" version="1.0.0"/>
<unit id="org.palladiosimulator.license.epl2.feature.group" version="1.0.0"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-branding/releases/latest/"/>
    </location>

	</locations>
</target>
