<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated datadictionary -->
      <package
            uri="http://dataflowanalysis.org/dfd/datadictionary"
            class="org.dataflowanalysis.dfd.datadictionary.datadictionaryPackage"
            genModel="model/datadictionary.genmodel"/>
   </extension>

null
</plugin>
