name: Build docs

on:
 workflow_dispatch: # Use this to dispatch from the Actions Tab
 push:
  paths:
    - 'docs/**'
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Install and Build
        working-directory: ./docs/
        run: |
          npm install
          npm run build

      - name: Upload Build as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-build
          path: ./docs/.vitepress/dist
          retention-days: 30